@font-face {
  font-family: jua;
  src: url(../Jua-Regular.ttf);
}
@font-face {
  font-family: regular;
  src: url(../Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: pp-bold;
  src: url(../Poppins/Poppins-Bold.ttf);
}
body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  font-family: regular;
}

header {
  font-family: "Jua";
  color: #ffffff;
  background-color: #198ce0;
  padding: 1px;
  font-size: 24px;
  user-select: none;
}
header p {
  margin-left: 67px;
}

header span {
  color: #adddff;
}

footer {
  margin: 0;
  height: 40px;
  background-color: #198ce0;
  color: #ffffff;
  font-family: "Jua";
  text-align: center;
  align-content: center;
  font-size: 14px;
}

footer p {
  margin: 0;
}

.div-center {
  display: flex;
  justify-content: center;
}

#topo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 100px;
  width: max-content;
}
#godocker {
  display: inline-block;
  position: absolute;
  top: -15%;
  left: 45%;
  transform: translateX(-50%);
  scale: 0.9;
}
#bv {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 36px;
}
#do {
  display: inline-block;
  position: absolute;
  top: 350px;
  left: 10%;
  font-size: 32px;
}
#topo span {
  color: #198ce0;
}
#comecar {
  display: inline-block;
  position: absolute;
  font-family: regular;
  font-weight: 700;
  top: 75%;
  left: 10%;
  font-size: 40px;
  background-color: #198ce0;
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
#meio {
  position: relative;
  width: 100vw;
  left: 180px;
  margin-top: 200px;
}
#meio p {
  font-size: 24px;
}
#meio h2 {
  font-size: 36px;
  font-family: regular;
}
#meio h3 {
  font-size: 32px;
  font-family: regular;
  color: #198ce0;
}
#meio span {
  color: #198ce0;
}

.jua {
  font-family: jua;
}
.destaque {
  font-family: pp-bold;
}
#docker-lp {
  position: absolute;
  display: inline-block;
  top: 70px;
  right: 130px;
  width: min-content;
  height: min-content;
}
#fotos {
  display: flex;
  justify-content: left;
}
.foto {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.pessoa {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.pessoa p {
  text-align: center;
}
#comecar:hover {
  scale: 1.1;
  cursor: pointer;
}
.documentacao {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 400px;
}
.doc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: regular;
  font-size: 16px;
}
.conhecimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: regular;
  font-size: 16px;
}

button {
  width: 600px;
  height: 112px;
  font-size: 36px;
  background-color: #198ce0;
  color: white;
  border: none;
  border-radius: 13px;
  font-family: regular;
}

button:hover {
  cursor: pointer;
}

#development {
  width: 65%;
}

#img-docker-game {
  width: max-content;
  margin-left: 10%;
}

#sobre-godocker {
  display: flex;
  flex-direction: row;
  width: 90%;
}

#pSobreGoDocker {
  width: 500px;
}

#div-sop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#div-sop .sop {
  background-color: #198ce0;
  color: #fff;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 78.4px;
  font-family: "Jua";
  color: #ffffff;
  background-color: #198ce0;
  padding: 1px;
  text-align: center;
  font-size: 24px;
  z-index: 5;
}
header span {
  color: #adddff;
}

#burguinho {
  position: absolute;
  height: 78px;
  width: 78px;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#burguinho img {
  width: 46.5px;
  height: 31px;
  cursor: pointer;
}
#menu {
  width: 20%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 7;
  top: 0;
  transition: 0.5s;
  display: block;
  border-right: 2px solid #007bff;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu li:hover {
  background-color: #adddff;
  transition: 0.3s ease;
}

#menu a {
  text-decoration: none;
  color: black;
  font-family: "regular";
}
.escondido {
  left: -20%;
}
.aparecido {
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
